.sidebar {
  grid-area: sidebar;
  padding-top: 20px;
  margin: 0 15px 0 0;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.link {
  padding: 10px 7px;
  transition: all 0.3s ease;
}

.link:last-child {
  margin-top: 50px;
}

.link:hover{
  border-radius: 4px;
  background-color: #E8E2E2;
} 

.active {
  color: #F38383;
  padding: 10px 7px;
}