h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 200px 900px 1fr;
  grid-template-rows: 50px auto;
  grid-template-areas: "header header header header" ". sidebar content .";
  color: #2D2D2D;
  padding: 0 0 20px 0;
}

.app-wrapper-content {
  grid-area: content;
  padding-top: 20px;
}